@font-face {
    font-family: The Bold Font;
    src: url(../media/fonts/THEBOLDFONT-FREEVERSION.otf);
    font-weight: normal;
    font-style: normal;
}

:root{

    /* Tipografias */
    --main-font: "Libre Franklin", sans-serif; 
    --title-font: "The Bold Font", sans-serif;

    /* Pesos tipografia Libre Franklin */
    --LF-regular: 400;
    --LF-bold: 700;
    --LF-extrabold: 900;

    /* Colores  */

    --pastel-pink: #FDAFCB;
    --dark-pink: #E06286;
    --yellow: #FFE778;
    --green: #89D886;
    --orange: #FFA961;
    --blue: #73E6FF; 
    --pastel-white: #FDFBF0;
    --white: #FFFFFF;
    --black: #1A1A1A;

    /* Tamaño de fuentes  */

    --medium-text-size:1.3rem;
    --title-text-size:2rem;
    --bt-text-size:1.4rem;

    --title-text-size-tablet:1.7rem;
    --bt-text-size-tablet: 1.2rem;

    --title-text-size-phone:1.5rem;
    --bt-text-size-phone: 0.9rem;
    
    --nav-h: 6rem;
    --btn-transition: transform 0.3s ease, color 0.3s ease;
    --text-transition: color 0.2s ease;
     
    /* Transiciones y medidas */
    --nav-h: 6rem;
    --btn-transition: transform 0.3s ease, color 0.3s ease;
    --text-transition: color 0.5s ease;
    --shadow:0 0.20rem 0.62rem rgb(0,0,0,0.3);
    --rotate-badge-animation:rotateBadge 4s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;

}

/* FOOTER */

#footer {
    background-color: var(--black);
    padding: 1rem 3rem;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
}

.patrocinadores-footer {
    /* height: 9,5rem; */
    margin: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 5rem;
    flex-wrap: wrap;
    filter: grayscale(100%);
    grid-template: repeat(2, 1fr);
}


.patrocinadores-footer > a {
    width: auto;
    overflow: cover;
    object-fit: cover;
}

.footer-linea{
    height: 2px;
    background-color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.redes-sociales {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes-sociales > a {
    color: var(--white);
    font-size: 2rem;
    margin: 1.7rem;
    width: 5rem;
}

.copyright-footer {
    color: var(--white);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* MAPA  */

.mapa {
    box-sizing: border-box;
    width: 100%;
    padding: 12rem 10rem;
    background-image: url(cesped_textura.webp);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    text-align: center;
}

.titulo-mapa > .texto-mapa > h1 {
    /* color: var(--white); */
    text-align: center;
    padding: 2rem 6rem;
    font-family: var(--title-font);
    font-size: 40px;
}

.titulo-mapa > .texto-mapa > h3 {
    margin: 0 0 3rem;
    text-align: center;
    font-family: var(--title-font);
    font-size: 30px;
}

.mapa-elementos {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.mapa-elementos > .mapa-imagen {
    padding: 1rem;
    background-color: var(--pastel-white);    
    border-radius: 1rem;
    display: block;
    margin: 3rem;
}

.mapa-elementos > .mapa-imagen > img{
    border-image-width: 1rem;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    z-index: 2;
}

.mapa-elementos > .chapas-mapa {
    position: absolute;
    left: -13%;
    bottom: -20%;
    z-index: 3;
}

.mapa-elementos > .chapas-mapa > img {
    width: 60%;
    top: 0;
    left: 0;
    transform: rotate(-8deg);
    z-index: 1;
}

.mapa-elementos > .yellow-flower {
    position: absolute;
    width: 15%;
    z-index: 4;
}

.mapa-elementos > .texto-postit {
    position: absolute;
    right: -3%;
    bottom: -26%;
    width: 25%;
    transform: rotate(8deg);
    text-decoration: none;
    z-index: 1;
}

.mapa-elementos > .texto-postit > img {
    display: block;
    width: 90%;
    height: auto;
}

.mapa-elementos > .texto-postit > p {
    font-size: var(--bt-text-size);
    font-family: var(--main-font);
    position: absolute;
    margin: 0;
    padding: 20% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;

}

/* SETLIST */

.titulo-setlist {
    padding: 12rem 10rem;
    background-image: url(papel_textura.webp);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    align-content: center;
}

.titulo-setlist > div > h1 {
    text-align: center;
    padding: 30px 100px;
    font: var(--title-font);
    font-weight: 900;
    font-size: 50px;
}

.titulo-setlist > div > h3 {
    text-align: center;
    font: var(--title-font);
    font-weight: 900;
    font-size: 35px;
}

.titulo-setlist > .setlist-imagen > img {
    background-size: cover;
    max-width: 30rem;
    border-radius: 1rem;
    border: 1rem solid var(--pastel-white);
    border-image-width: 1rem;
    margin-top: 4rem;
}

/* TICKETS */

/* imagen de fondo */

.tickets {
    padding: 12rem 10rem;
    background-image: url(flores_naranjas.webp);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 340px;
    column-gap: 2rem;
}

.titulo-tickets {
    grid-column: 1 / -1;
    font-family: var(--title-font);
    margin-bottom: 4rem;
}

.titulo-tickets > h1 {
    font-size: 50px;
    padding: 30px 100px;
    text-align: center;
}

.titulo-tickets > h3 {
    font-size: 35px;
    text-align: center;
}

.ticket-list {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ticket-price {
    max-width: none;
    margin: 0 0 2rem;
    padding: 1.5rem 2.5rem;
    background-color: var(--pastel-white);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* general admission box */

.ticket-description {
    font-size: 15px;
    padding: 0.5rem 1rem;
    font-family: var(--main-font);
    border-radius: 0.5rem;
    max-width: fit-content;
    display: inline-block;
}

.general-admission > .ticket-intro > .ticket-description {
    background-color: var(--yellow);
}

.vip-field-passes > .ticket-intro > .ticket-description {
    background-color: var(--green);
}

.early-bird > .ticket-intro > .ticket-description {
    background-color: var(--pastel-pink);
}

/* general admission */

.general-admission > h2 {
    font-family: var(--title-font);
    font-size: 28px;
}

.general-admission > .ticket-intro {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.general-admission > .ticket-intro > img {
    width: 7%;
    height: 7%;
    left: 37%;
    bottom: 23%;
    display: flex;
}

.general-admission > .tickets-subtitle {
    font-family: var(--main-font);
    font-size: 13px;
    margin: 0.5rem 0;
}

.general-admission > :last-child {
    font-family: var(--main-font);
    width: fit-content;
    font-size: 25px;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 3px solid var(--yellow);
    border-radius: 1rem;
}

/* vip field pass */

.vip-field-passes > h2 {
    font-family: var(--title-font);
    font-size: 28px;
}

.vip-field-passes > .ticket-intro {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.vip-field-passes > .ticket-intro > img {
    width: 7%;
    height: 7%;
    left: 37%;
    bottom: 23%;
    display: flex;
}

.vip-field-passes > .tickets-subtitle {
    font-family: var(--main-font);
    font-size: 13px;
    margin: 0.5rem 0;
}

.vip-field-passes > :last-child {
    font-family: var(--main-font);
    width: fit-content;
    font-size: 25px;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 3px solid var(--green);
    border-radius: 1rem;
}

/* early bird */

.early-bird > h2 {
    font-family: var(--title-font);
    font-size: 28px;
}

.early-bird > .ticket-intro {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.early-bird > .ticket-intro > img {
    width: 7%;
    height: 7%;
    left: 37%;
    bottom: 23%;
    display: flex;
}

.early-bird > .tickets-subtitle {
    font-family: var(--main-font);
    font-size: 13px;
    margin: 0.5rem 0;
}

.early-bird > :last-child {
    font-family: var(--main-font);
    width: fit-content;
    font-size: 25px;
    margin: 0.5rem 0;
    padding: 1rem;
    border: 3px solid var(--pastel-pink);
    border-radius: 1rem;
}

/* BOTON DE PRECIO */


/* .entrada__controles {
    display: flex;
    align-items: center;
    font-family: var(--main-font);
    font-size: 20px;
    border: 3px solid var(--orange);
    border-radius: 0.5rem;
    overflow: hidden;
} */

.btn-price {
    height: auto;
    border-radius: 1rem;
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrada__controles {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--white);
    overflow: hidden;
}

.contador__boton {
    width: 2.8rem;
    height: 2.8rem;
    font-family: var(--main-font);
    font-size: 1.4rem;
    line-height: 1;
    background-color: var(--orange);
    border: none;
    cursor: pointer;
}

.contador__cantidad {
    min-width: 3rem;
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.3rem;
    line-height: 2.8rem;
}

/* color boton contador */

.general-admission > .contador__boton {
    background-color: var(--yellow);
}

.early-bird > .contador__boton {
    background-color: var(--green);
}

/* resumen de las entradas */
.resumen {
    grid-column: 2;
    position: sticky;
    top: 1.5rem;
    background: var(--pastel-white);
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.5rem;
    border: none;
    border-radius: 1rem;
}

.resumen > h2 {
    font-family: var(--title-font);
}

.resumen__lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-height: 3rem;
}

.resumen__lista li {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 0.95rem;
    color: var(--black)

}

.resumen__vacio {
    color: var(--white);
    font-style: italic;
    font-family: var(--main-font);
    color: var(--black)

}

.resumen__cuentas {
    font-family: var(--main-font);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-top: 1rem;
    border-top: 6px;
}

.resumen__fila {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.resumen__cuentas > .resumen__fila--total {
    border-radius: 0.5rem;
}

.resumen__fila dt small {
    display: block;
    font-size: 0.8rem;
    color: var(--white);
}

.resumen__fila dd {
    font-weight: 700;
    white-space: nowrap;
}

.resumen__fila dt {
    font-weight: 700;
    white-space: nowrap;
}

.resumen__fila--total {
    margin-top: 0.6rem;
    padding: 0.6rem 0.8rem;
    font-family: var(--main-font);
    font-size: 1.4rem;
    background: var(--yellow);
    border: 6px;
    border-radius: var(--radius);
}

.resumen__cuentas > .boton {
    color: var(--black);
    background-color: var(--orange);
    font-family: var(--main-font);
    font-size: var(--bt-text-size);
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
}

.resumen__fila--total dd {
    font-weight: 400;
}



@media  (max-width: 778px) {
    .tickets {
        grid-template-columns: 1fr;
        padding: 3rem 1,5rem;
    }
    .resumen {
        grid-column: 1;
        position: static;
    }
}

@media  (max-width: 480) {
    .tickets {
        grid-template-columns: 1fr;
        padding: 3rem 1,5rem;
    }
    .resumen {
        grid-column: 1;
        position: static;
    }
}

/* .footer > .patrocinadores-footer {
    max-width: 80%;
    margin: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 5rem;
    flex-wrap: wrap;
    filter: grayscale(100);
    grid-template: repeat(2, 1fr);
}
} */