@font-face {
    font-family: The Bold Font;
    src: url(../media/fonts/THEBOLDFONT-FREEVERSION.otf);
    font-weight: normal;
    font-style: normal;
}

:root{

    /* Tipografias */
    --main-font: "Libre Franklin", sans-serif; 
    --title-font: "The Bold Font", sans-serif;

    /* Pesos tipografia Libre Franklin */
    --LF-regular: 400;
    --LF-bold: 700;
    --LF-extrabold: 900;

    /* Colores  */

    --pastel-pink: #FDAFCB;
    --dark-pink: #E06286;
    --yellow: #FFE778;
    --green: #89D886;
    --orange: #F28020;
    --blue: #73E6FF; 
    --pastel-white: #FDFBF0;
    --white: #FFFFFF;
    --black: #1A1A1A;

    /* Tamaño de fuentes  */

    --medium-text-size:1.3rem;
    --title-text-size:2rem;
    --bt-text-size:1.4rem;

    --title-text-size-tablet:1.7rem;
    --bt-text-size-tablet: 1.2rem;

    --title-text-size-phone:1.5rem;
    --bt-text-size-phone: 0.9rem;
    
    /* Transiciones y medidas */
    --nav-h: 6rem;
    --btn-transition: transform 0.3s ease, color 0.3s ease;
    --text-transition: color 0.2s ease;
    --shadow:0 0.20rem 0.62rem rgb(0,0,0.3);

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--nav-h) + 1rem);
}


body.menu-open{
    overflow: hidden;
}

body{
    overflow-x: hidden;
    font-family: var(--main-font);
    color: var(--black);
    font-size: var(--medium-text-size); 
    transition: 0.3s ease;
    background-color: var(--pastel-white);
    min-height: 100vh;
}

/* Heather */

header{
    position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: var(--nav-h);
   padding: 0 1.5rem;
   background-color: var(--black);
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;

}

.icons-menu{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--white);
    z-index: 1002;
    margin-left: 1.5rem;
    margin-right: 1rem;

}

.icon-ham{
    display: inline-block;
    transition: var(--btn-transition);
}

.icons-menu:hover > .icon-ham {
    color: var(--dark-pink);
    transform: rotate(70deg);
}

.icon-flower{
    display: none !important;
    font-size: 2.5rem !important;
    transition: var(--btn-transition);
}

.icons-menu.active > .icon-ham{
    display: none;
}

.icons-menu.active > .icon-flower{
    display: inline-block !important;
}
.icons-menu.active:hover > .icon-flower{
    color: var(--dark-pink)!important;
    transform: rotate(70deg)!important;
}

.main-logo >img{
    display: block;
    height: 3rem;
}

.drawer-menu{
    position: fixed;
    top: var(--nav-h);
    left: -100%;
    width: 16rem;
    max-width: 22rem;
    height: calc(70vh - var(--nav-h));
    background-color: var(--black);
    padding-top: calc(var(--nav-h)+ 1rem);
    transition: left 0.5s ease-in-out, opacity 0.5s ease;
    z-index: 999;
    
}

.drawer-menu.open{
    left: 0;
}

.drawer-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2.2rem;
}

.drawer-menu > ul> li > a{
    color: var(--white);
    font-family: var(--main-font);
    font-weight: bold;
    text-decoration: none;
    font-size: var(--title-text-size);
    text-transform: uppercase;
    display: inline-block;
    transition:var(--text-transition) ;
    margin-left: 2rem;
    margin-bottom: 0.8rem;


}

.drawer-menu > ul > li> a:hover{
    color: var(--dark-pink);
}

.tickets-heather-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-weight: var(--LF-extrabold);
    font-size: var(--bt-text-size);
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark-pink);
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-right: 1.5rem;

    transition: var(--btn-transition);
}
.tickets-heather-btn:hover{
    color: var(--pastel-pink);
    background-color: var(--black);
}

/* Hero home */

.hero-container{
    position: relative;
    width: 100%;
    height: calc(100vh - var(--nav-h));
    margin-top: var(--nav-h);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hero-photos-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.3s ease-in-out;
    user-select: none;
    pointer-events: none;

}
.hero-photo-activate{
    opacity: 1;
}

.hero-logo{
    position: relative;
    z-index: 13;
    width: 80%;
    max-width: 40.8rem;
    text-align: center;
    pointer-events: none;
    margin-bottom: 6rem;
}
.hero-logo > img{
    width: 100%;
    opacity: 0.7;
    height: auto;
    filter: drop-shadow var(--shadow);
}

/* Media queries */

@media screen and (max-width:768px){

    /* barra de navegación */

    header{
        padding: 0 1.2rem;
    }

    .main-logo > img {
        height: 2.5rem;
    }
    .icons-menu{
        font-size: 1.8rem;
        margin-left: 0;
    }
    .icon-flower{
        font-size: 2.3rem;
    }

    .drawer-menu{
        width: 35vw;
    }
    .drawer-menu > ul> li > a{
        font-size: var(--title-text-size-tablet);
        margin-left: 0;
    }

    .tickets-heather-btn{
        font-size: var(--bt-text-size-tablet);
    }

}

@media screen and (max-width:480px) {
   
    /* barra de navegación  */
    header{
        padding: 0 0.8rem;
    }

    .main-logo > img {
        height: 1.6rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
    .icons-menu{
        font-size: 1.3rem;
    }
    .icon-flower{
        font-size: 1.8rem;
    }

    .drawer-menu{
        width: 100vh;
        max-width: 100%;
        height: 100%;
    }
    .drawer-menu > ul> li > a{
        font-size: var(--title-text-size-phone);
        margin-left: 3rem;
    }

    .tickets-heather-btn{
        font-size: var(--bt-text-size-phone);
    }

}
    


